<section class="profile-container m-lg-2 m-rg-2">
  <h1>Dein Profil</h1>
  @if (profile()) {
  <div class="profile-card">
    <div class="avatar">
      <div class="avatar-placeholder">👤</div>
    </div>

    <div class="profile-info">
      <div>
        <h2>Name</h2>
        <p>{{ profile()?.name ?? '-' }}</p>
      </div>

      <div>
        <h2>E-Mail</h2>
        <p>{{ profile()?.email ?? '-' }}</p>
      </div>

      <div>
        <h2>Rolle</h2>
        <p>{{ profile()?.role ?? '-' }}</p>
      </div>
      <div>
        <h2>Erstellt am</h2>
        <p>{{ profile()?.createdAt ?? '-' }}</p>
      </div>

      <div>
        <h2>Bewertung</h2>
        @if (profile()?.rating) {
          {{ profile()?.rating }}
        } @else {


        <div class="rating">
          <span class="star inactive">★</span>
          <span class="star inactive">★</span>
          <span class="star inactive">★</span>
          <span class="star inactive">★</span>
          <span class="star inactive">★</span>
          <span class="rating-value">(0.0)</span>
        </div>
        }
      </div>
    </div>
  </div>

  <section class="posts-section">
    <div class="post-tabs">
      <span class="active-tab">Aktive Beiträge</span>
      <span class="divider"></span>
      <span>Archivierte Beiträge</span>
    </div>

    <h4 class="post-placeholder">Hier würden deine Posts stehen!</h4>

  </section>

    <app-account-delete-area></app-account-delete-area>

  } @else {

    <p>Lade Profil...</p>
  }
</section>


