
.profile-title{
  margin-left: 30px;
}
.profile-card {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 30px;
  background: white;
  padding: 30px;
  border-radius: 16px;
}

.avatar-placeholder {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: var(--gray-light-color);
  border: 3px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
.profile-info-column{
  display: flex;
  flex-direction: column;
}

.profile-info h2 {
  margin: var(--spacing);
  font-size: 1.4rem;
  font-weight: 700;
}

.profile-info p {
  margin: var(--spacing);
  font-weight: 500;
}

.settings-link:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.posts-section {
  margin-top: 60px;
  margin-left: 30px;
}


.post-tabs {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 35px;
}

.tab-button {
  background: none;
  border: none;
  cursor: pointer;
}
.active-tab {
  color: var(--primary-color);
}
.tab-text:hover {
  color: var(--primary-color);
}
.active-tab:hover{
  color: var(--primary-color-hover);
}

.divider {
  width: 4px;
  height: 45px;
  background: #4e5d69;
}

.post-placeholder {
  margin-bottom: 60px;
}
